---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 3em 1em;
			}
			.post-header {
				margin-bottom: 2em;
			}
			.post-date {
				opacity: 0.45;
				font-size: 0.8em;
				margin-bottom: 0.5em;
			}
			.last-updated-on {
				font-style: italic;
				margin-top: 0.25em;
			}
			.prose h1 {
				font-size: 1.75em;
				margin: 0;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<div class="prose">
				<div class="post-header">
					<div class="post-date">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<h1>{title}</h1>
				</div>
				<slot />
			</div>
		</main>
	</body>
</html>
